
<% if @mercado == "1" && @rodada == @rodada_atual %>

<% @times.each do |time| %>
<div class="justify-content-center">
 <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-block user-radial-card">
                <div class="col" >
                  <div>
                  <%= image_tag "#{time.escudo}" , style: "width:50%;", alt:"User-Image" %>
                  </div>                     
                </div>
                <h6 style="color: white;">.</h6>
                 <span class="f-20 text-c-black"><%= time.nome_time %></span>
                <p><%= time.cartoleiro %></p>
            </div>
        </div>
    </div>
</div>
<% end %>
   <h5 class="text-center" style="color: red;"> Ops! Está muito cedo, assim que o mercado fechar poderemos ver as parciais deste time. </h5>
<%else %>

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-block user-radial-card">
                <div class="col" >
                  <div>
                  <%= image_tag "#{@nome_escudo_slug}" , style: "width:50%;", alt:"User-Image" %>
                  </div>                     
                </div>
                <h6 style="color: white;">.</h6>
                 <span class="f-20 text-c-black"><%= @equipe %></span>
                <p><%= @nome_cartoleiro_slug %></p>
                <span class="f-20 text-c-black"><b><%= @pontos %></b></span>
            </div>
        </div>
    </div>
</div>
 <%= @mensagem%>
<!-- AQUI IRAR RECEBER UMA VARIAVEL COM TODOS OS JOGADORES, UMA CONDIÇÃO SE A VARIAVEL FOR NULL NÃO MOSTRA SE FOR DIFERENTE DE NULL MOSTRA -->
 <% if @atletas_verificar == "1" %>
<div class="row justify-content-center" >
        <div class="col-12 col-md-12 col-sm-12 col-xs-12" >
    <% @atleta_final.each do |time| %>

        <div class="card py-3 py-md-3 text-white" >
                    
                            <div class="d-flex px-2 px-md-4" >
                             <div class="align-self-baseline mr-2 mr-md-4 ">
                            <img src="<%= @atleta_final[@contador][5] %>" height="80px" width="80px" alt="" class=" photo" style="border-color: <%= @atleta_final[@contador][4] %>;"> </div>
                            <div>
                                <h7>. <h7>
                                <h6 clas="ml-auto"style="color:black;font-size:0.9rem"><b> <%=  @atleta_final[@contador][2] %></b> </h6>
                                <h6 class="ml-auto" style="color:black; font-size:0.9rem" class="light"> <%= @atleta_final[@contador][0] %></h6>
                            </div>
                            <div class="align-self-center d-flex ml-auto">
                                <h6>.</h6>
                                <h4 style="color:black; font-size:1rem" ><%= @atleta_final[@contador][3] %></h6>
                            </div>
                            </div>
                            
                    </div>


    <% @contador = @contador + 1 %>
<%end%>
</div>
</div>
<% else %>
<div class="justify-content-center" >
<h2 class="text-center"> <%= @mensagem%> </h2>
<% end %>
<% end %>


 