<h1 class="text-center"> RESULTADO RODADA <%= params["rodada"] %> </h1>

<div class="col-md-12">
         <!-- Margin card start -->
         <div class="card">
               <div class="card-header p-b-0" >
                  <ul class="nav nav-tabs md-tabs" role="tablist">
                     <li class="nav-item">
                           <a class="nav-link active"  data-toggle="tab" href="#margin" role="tab" aria-expanded="true">Pontuação</a>
                           <div class="slide"></div>
                     </li>
                     <li class="nav-item" style="">
                           <a class="nav-link " data-toggle="tab" href="#padding" role="tab" aria-expanded="false">Premiação</a>
                           <div class="slide"></div>
                     </li>
                  </ul>
               </div>
               
               <div class="card-block tab-content p-t-20">
                  <div class="tab-pane fade active show" id="margin" role="tabpanel" aria-expanded="true">
                     <div class="generic-card-body">
                           <div class="col-md-12 col-xl-12">
                           <div class="card widget-card-1">
                              <div class="card-block-small">
                                    <i class="bg-c-blue card1-icon"> <h6> Posição </h6> </i>
                                          <div class="row">
                                          <div class="col-6">
                                          
                                          <h4 style="color: white">.</h4>
                                          <h4>Time</h4>
                                          </div>
                                          <div class="col-6">
                                          
                                          <h4 style="color: white">.</h4>
                                          <h4>Pontos</h4>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                           </div>

                        <% @apostas.each do |aposta| %>
                        <%= link_to  users_backoffice_visualizar_time_time_path(:time => "#{aposta.equipe.id}"), class:"col-md-12 col-xl-12", style:"height:80%;" do %>
                              <div class="card widget-card-1">
                              <div class="card-block-small">
                                    <i class=" bg-c-blue card1-icon"><h5><%= @contador %></h5></i>
                                          <div class="row">
                                          <div class="col-6">
                                          
                                          <h4 style="color: white">.</h4>
                                          <h4><%= aposta.equipe.nome_time %></h4>
                                          </div>
                                          <div class="col-6">
                                          
                                          <h4 style="color: white">.</h4>
                                          <h4>Pontos</h4>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                        <% end %>
                           <% @contador = @contador + 1 %>
                        <% end %>
                           
                     </div>
                  </div>
                  <div class="tab-pane fade" id="padding" role="tabpanel" aria-expanded="false">
                     <div class="generic-card-body">
                           <div class="col-md-12 col-xl-12">
                           <div class="card widget-card-1">
                              <div class="card-block-small">
                                    <i class="bg-c-blue card1-icon"> <h6> Posição </h6> </i>
                                          <div class="row">
                                          <div class="col-6">
                                          
                                          <h4 style="color: white">.</h4>
                                          <h4>Time</h4>
                                          </div>
                                          <div class="col-6">
                                          
                                          <h4 style="color: white">.</h4>
                                          <h4>Premiação</h4>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                           </div>

                        <% @apostas.each do |aposta| %>
                        <%= link_to  users_backoffice_visualizar_time_time_path(:time => "#{aposta.equipe.id}"), class:"col-md-12 col-xl-12", style:"height:80%;" do %>
                              <div class="card widget-card-1">
                              <div class="card-block-small">
                                    <i class=" bg-c-blue card1-icon"><h5> <%= @contador2 %></h5></i>
                                          <div class="row">
                                          <div class="col-6">
                                          
                                          <h4 style="color: white">.</h4>
                                          <h4><%= aposta.equipe.nome_time %></h4>
                                          </div>
                                          <div class="col-6">
                                          
                                          <h4 style="color: white">.</h4>
                                          <% if params["page"].blank? %>
                                          <h4><%= @valor_aposta[@contador2] %></h4>
                                          <% else %>
                                          <h4> </h4>
                                          <% end %>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                        <% end %>
                           <% @contador2 = @contador2 + 1 %>
                        <% end %>
                           
                     </div>
                  </div>
               </div>
         </div>
         <!-- Margin card end -->
      </div>
      <div class="pagination justify-content-center">
    <%= paginate @apostas %>
 </div>