<h1 class="text-center"> RESULTADO RODADA <%= params["rodada"] %> </h1>


<div class="d-flex flex-row-reverse bd-highlight">
  <%= form_with(url: users_backoffice_search_resultados_path, local: true, method: :get) do |time| %>
  <div class="p-3 bd-highlight">
    <div class="input-group input-group-button col-sm-12 col-xl-12">
        <%= time.text_field :term, class:"form-control", placeholder:"Pesquisar Time" %>
        <%= time.hidden_field :rodada, :value => params["rodada"] %>
          <button type="submit" class="input-group-addon btn btn-primary" id="basic-addon10">
            <span class=""><i class="icofont icofont-ui-search"></i></span>
        </button>
    </div>
</div>
 <% end %>
</div>

<div class="col-md-12">
         <!-- Margin card start -->
         <div class="card justify-content-center">
               <div class="card-header p-b-0 justify-content-center" >
                  <ul class="nav nav-tabs justify-content-center" role="tablist">
                     <li class="nav-item ">
                           <a class="btn-outline-info btn nav-link active"  data-toggle="tab" href="#margin" role="tab" aria-expanded="true">Pontuação</a>
                           <div class=""></div>
                     </li>
                     <li class="nav-item" style="">
                           <a class="btn-outline-info btn nav-link " data-toggle="tab" href="#padding" role="tab" aria-expanded="false">Premiação</a>
                           <div class=""></div>
                     </li>
                  </ul>
               </div>
               
               <div class="card-block tab-content p-t-20">
                  <div class="tab-pane fade active show" id="margin" role="tabpanel" aria-expanded="true">
                     <div class="generic-card-body">
                 

                         <% if @mercado == "1" && @rodada == @rodada_atual %>
                          <% @apostas.each do |aposta| %>
                          
                        <%= link_to  users_backoffice_visualizar_time_time_path(:time => "#{aposta.equipe.id}", :rodada => params["rodada"]), class:"col-md-12 col-xl-12", style:"height:80%;" do %>
                               
                        
                           <div class="card py-3 py-md-3 text-white" >
                           
                                 <div class="d-flex px-2 px-md-4" >
                           
                                 <i class="bg-c-blue card2-icon">  <%= @contador %> </i>
                                    <div class="align-self-baseline mr-2 mr-md-4 ">
                                    <img src="<%= aposta.equipe.escudo %>" height="40px" width="40px" alt="" class=" " style="border-color: white;"> </div>
                                    <div>
                                       
                                       <h6 clas="ml-auto"style="color:black;font-size:0.7rem"><b> <%= aposta.equipe.nome_time %></b> </h6>
                                       <h6 class="ml-auto" style="color:black; font-size:0.7rem" class="light"> <%= aposta.equipe.cartoleiro %></h6>
                                    </div>
                                    <div class="align-self-center d-flex ml-auto">
                                       <h6>.</h6>
                                       <h4 style="color:black; font-size:0.7rem" >0.00</h6>
                                    </div>
                                 </div>
                                 
                           </div>
                        <% end %>
                           <% @contador = @contador + 1 %>
                        <% end %>


                        <% else %>

                       
                        <% @time_teste.each do |aposta| %>
                        
                        <%= link_to  users_backoffice_visualizar_time_time_path(:slug => @time_teste[@contador3][2], :rodada => params["rodada"]), class:"col-md-12 col-xl-12", style:"height:80%;" do %>
                               <div class="card py-3 py-md-3 text-white" >
                                   <div class="d-flex px-2 px-md-4" >
                                    <i class="bg-c-blue card2-icon">  <%= @contador %> </i>
                                    <div class="align-self-baseline mr-2 mr-md-4 ">
                                       <img src="<%= @time_teste[@contador3][3] %>" height="40px" width="40px" alt="" class=" " style="border-color: white;"> </div>
                                       <div>
                                       
                                          <h6 clas="ml-auto"style="color:black; font-size:0.7rem"><b> <%= @time_teste[@contador3][0] %></b> </h6>
                                          <h6 class="ml-auto" style="color:black; font-size:0.7rem" class="light"> <%= @time_teste[@contador3][4] %></h6>
                                       </div>
                                       <div class="align-self-center d-flex ml-auto">
                                          <h6>.</h6>
                                          <h4 style="color:black; font-size:0.7rem" ><%= @time_teste[@contador3][1]%></h6>
                                       </div>
                                    </div>
                                    
                              </div>            

                        <% end %>

                           <% @contador = @contador + 1 %>
                           <% @contador3 = @contador3 + 1 %>
                        <% end %>
                        

                        <% end %>
                     
                     </div>
                  </div>
                  <div class="tab-pane fade" id="padding" role="tabpanel" aria-expanded="false">
                     <div class="generic-card-body">
                          

                     <% if @mercado == "1" && @rodada == @rodada_atual %>
                        <% @apostas.each do |aposta| %>
                       
                        <%= link_to  users_backoffice_visualizar_time_time_path(:time => "#{aposta.equipe.id}", :rodada => params["rodada"]), class:"col-md-12 col-xl-12", style:"height:80%;" do %>
                             <div class="card py-3 py-md-3 text-white" >
                                 <div class="d-flex px-2 px-md-4" >
                                    <i class="bg-c-blue card2-icon">  <%= @contador2 %> </i>
                                       <div class="align-self-baseline mr-2 mr-md-4 ">
                                       <img src="<%= aposta.equipe.escudo %>" height="40px" width="40px" alt="" class="" style="border-color: white;"> </div>
                                       <div >
                                          
                                          <h6 style="color:black; font-size:0.7rem"><b> <%= aposta.equipe.nome_time %></b> </h6>
                                          <h6  style="color:black; font-size:0.7rem" > <%= aposta.equipe.cartoleiro %></h6>
                                       </div>
                                       <div class="align-self-center d-flex ml-auto">
                                         
                                          <% if params["page"].blank? %>
                                             <% if @valor_aposta == nil %>
                                                <h4></h4>
                                             <% else %>
                                                <h6 style="color:black; font-size:0.7rem""><%= @valor_aposta[@contador2] %></h6>
                                             <% end %>
                                          <% else %>
                                           <h4> </h4>
                                          <% end %>
                                       </div>
                                    </div>                                    
                              </div>
                       <% end %>
                           <% @contador2 = @contador2 + 1 %>
                        <% end %>

                <% else %> 

               
               <% @time_teste.each do |aposta| %>
                     
                        <%= link_to  users_backoffice_visualizar_time_time_path(:slug => @time_teste[@contador4][2], :rodada => params["rodada"]), class:"col-md-12 col-xl-12", style:"height:80%;" do %>
                             <div class="card py-3 py-md-3 text-white" >
                                 <div class="d-flex px-2 px-md-4" >
                                    <i class="bg-c-blue card2-icon">  <%= @contador2 %> </i>
                                    <div class="align-self-baseline mr-2 mr-md-4 "> 
                                       <img src="<%= @time_teste[@contador4][3] %>" height="40px" width="40px" alt="" class=" " style="border-color: "> </div>
                                       <div>
                                          
                                          <h6 class="ml-auto"style="color:black;font-size:0.7rem;"><b> <%= @time_teste[@contador4][0] %> </b></h6>
                                          <h6 class="ml-auto" style="color:black;font-size:0.7rem" class="light"> <%= @time_teste[@contador4][4] %></h6>
                                       </div>
                                       <div class="align-self-center d-flex ml-auto">
                                          <h6>.</h6>
                                           <% if params["page"].blank? %>
                                             <% if @valor_aposta == nil %>
                                                <h4></h4>
                                             <% else %>
                                                <h5 class="ml-auto" style="color:black;font-size:0.7rem"><%= @valor_aposta[@contador2] %></h5>
                                             <% end %>
                                          <% else %>
                                           <h4> </h4>
                                          <% end %>
                                       </div>
                                    </div>                                    
                              </div>
                        <% end %>
                           <% @contador2 = @contador2 + 1 %>
                           <% @contador4 = @contador4 + 1 %>
                        <% end %>
                <% end %>     
                     </div>
                  </div>
               </div>
         </div>
         <!-- Margin card end -->
      </div>

      <%if @mercado == "1" && @rodada == @rodada_atual  %>
          <div class="pagination justify-content-center">
               <%= paginate @apostas %>
         </div>
       <% else %>  
         <div class="pagination justify-content-center">
                           <%= paginate @time_teste %>
                        </div>

       <%end%>
 
