<% unless @equipe_encontrada == []%>
<h1 class="text-center"> EQUIPE ENCONTRADA </h1>
<div class="card-block table-border-style">
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
           <th style="text-align: center;">Time</th>
            <th style="text-align: center;">Cartoleiro</th>
            <th style="text-align: center;">Usuário</th>
            <th style="text-align: center;">Deletar</th>
        </tr>
    </thead>
    <tbody>
        <% @equipe_encontrada.each do |equipe| %>
        <tr>
            <th scope="row" style="text-align: center;"><%= equipe.nome_time %></th>
            <td style="text-align: center;"><%= equipe.cartoleiro %>  </td>
            <td style="text-align: center;"><%= equipe.user.email %>  </td>
           <td style="text-align: center;"> 
          <%= link_to admins_backoffice_equipes_path(:id => equipe), class:"btn btn-danger btn-icon", style:""  do %>
                        
                        <i class="icofont icofont-ui-remove justify-content-center"></i>
        <% end %>          
                </td>    
        </tr>
     <% end %>
    </tbody>
</table>
<h1></h1>

</div>
</div>


<% else %>
<h1 class="text-center" style="color: red;"><b> ATENÇÃO </b></h1>
<h2 class="text-center"> Não encontramos a equipe <b><%= @equipe %></b>, por favor verifique se digitou o nome correto. </h2>

<% end %>