
<h1 class="text-center"> RESULTADOS </h1>
<div class="row">


<% if @rodada_atual.to_i >= 1 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 1</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "1"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>

<% if @rodada_atual.to_i >= 2 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 2</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "2"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 3 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 3</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "3"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 4 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 4</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "4"), class:"more-info" %>
        </div>
    </div>
</div>
<% end%>
<% if @rodada_atual.to_i >= 5 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 5</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "5"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 6 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 6</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "6"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 7 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 7</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "7"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 8 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 8</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "8"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>

<% if @rodada_atual.to_i >= 9 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 9</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "9"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 10 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 10</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "10"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 11 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 11</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "11"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 12 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 12</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "12"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>

<% if @rodada_atual.to_i >= 13 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 13</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "13"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 14 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 14</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "14"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 15 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 15</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "15"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 16 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 16</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "16"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>

<% if @rodada_atual.to_i >= 17 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 17</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "17"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 18 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 18</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "18"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 19 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 19</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "19"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 20 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 20</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "20"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>

<% if @rodada_atual.to_i >= 21 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 21</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "21"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 22 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 22</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "22"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 23 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 23</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "23"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 24 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 24</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "24"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>

<% if @rodada_atual.to_i >= 25 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 25</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "25"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 26 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 26</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "26"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 27 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 27</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "27"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 28 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 28</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "28"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>

<% if @rodada_atual.to_i >= 29%>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 29</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "29"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 30 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 30</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "30"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 31 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 31</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "31"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 32 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 32</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "32"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>

<% if @rodada_atual.to_i >= 33 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 33</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "33"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 34 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 34</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "34"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 35 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 35</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "35"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 36 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 36</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "36"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>

<% if @rodada_atual.to_i >= 37 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 37</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "37"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
<% if @rodada_atual.to_i >= 38 %>
<div class="col-md-6 col-xl-3">
    <div class="card user-widget-card bg-c-blue">
        <div class="card-block">
            <i class="icofont icofont-result bg-simple-c-blue card1-icon"></i>
            <h4>Rodada 38</h4>
            <p></p>
            <%= link_to "Visualizar", site_resultados_visualizar_resultados_path(:rodada => "38"), class:"more-info" %>
        </div>
    </div>
</div>
<% end %>
</div>
</div>

