<h1 class="text-center"> RESULTADOS USER</h1>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body"> 
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 1), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
  
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 2), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 3), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 4), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 5), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 6), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 7), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 8), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 9), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 10), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 11), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 12), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 13), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 14), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 15), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 16), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 17), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 18), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 19), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 20), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 21), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 22), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 23), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 24), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 25), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 26), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 27), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 28), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 29), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 30), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 31), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 32), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 33), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 34), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 35), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 36), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 37), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-center" style="width: 18rem;">
<%= image_tag 'rodada.jpg', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
  <div class="card-body">    
     <%= link_to "Visualizar Resultados", site_resultados_visualizar_resultados_path(:rodada => 38), class:"btn btn-primary", style:"width: 100%", type:"submit" %>
  </div>
</div>
</div>

</div>
