<h1 class="text-center"> LIGA RODADA <%= params["rodada"] %> </h1>
<%= @time_final.inspect%>

<div class="d-flex flex-row-reverse bd-highlight">
  <%= form_with(url: admins_backoffice_search_resultados_path, local: true, method: :get) do |time| %>
  <div class="p-3 bd-highlight">
    <div class="input-group input-group-button col-sm-12 col-xl-12">
        <%= time.text_field :term, class:"form-control", placeholder:"Pesquisar Time" %>
        <%= time.hidden_field :rodada, :value => params["rodada"] %>
          <button type="submit" class="input-group-addon btn btn-primary" id="basic-addon10">
            <span class=""><i class="icofont icofont-ui-search"></i></span>
        </button>
    </div>
</div>
 <% end %>
</div>


<div class="card-block table-border-style">
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align: center;">ID Time</th>
            <th style="text-align: center;">Time</th>
            <th style="text-align: center;">Entrou na Aposta</th>
            <th style="text-align: center;">Pontos</th>
            <th style="text-align: center;">Deletar</th>
        </tr>
    </thead>
    <tbody>
       <% @time_teste.each do |aposta| %>
        <tr>
            <th scope="row" style="text-align: center;"><%= @time_teste[@contador][0] %></th>
            <th scope="row" style="text-align: center;"><%= @time_teste[@contador][1] %></th>
            
            <td style="text-align: center;"><%= @time_teste[@contador][2] %>  </td>
              <td style="text-align: center;"><%= @time_teste[@contador][3] %> </td>      
              <td style="text-align: center;"> 
              <%= link_to admins_backoffice_resultados_path(:id => @time_teste[@contador][0], :rodada => params["rodada"]), class:"btn btn-danger btn-icon", style:""  do %>
                        
                        <i class="icofont icofont-ui-remove justify-content-center"></i>
        <% end %>          
              
               </td> 
              
                   
        </tr>
        <% @contador = @contador + 1%>
     <% end %>
    </tbody>
</table>
<h1></h1>
<div class="pagination justify-content-center">
    <%= paginate @time_teste %>
 </div>
</div>
</div>