<% if  @equipes_final == [] %>
                    <h4 class="modal-title" id="exampleModalLabel" style="color: red; text-align: center;"> <b>Atenção</b></h4>
              <h5 class="modal-title" id="exampleModalLabel"><b> Você não consegue participar dessa aposta por um dos motivos a seguir:</b></h5>
              <h5 class="modal-title" id="exampleModalLabel"> 1º Seu(s) Time(s) já está(ão) participando dessa aposta;</h5>
              <h5 class="modal-title" id="exampleModalLabel"> 2º Você não tem time(s) adicionado(s) a sua conta, para adicionar vá até o menu lateral "Meus Times" ou senão clique no botão a seguir: </h5>
              <%= link_to "Adicionar TIme", users_backoffice_equipes_path, class:"btn btn-primary", type:"submit" %>

   <% else %>
      <h4 style="color: black;">1º Passo </h4>
      <h4 class="modal-title" id="exampleModalLabel">Selecione o Time:</h4>
                    <%= form_with(url: users_backoffice_pagamento_path, local:true) do |f| %>
              <%= f.select 'equipe_id', options_for_select(@equipes_final.collect{ |u| [u.nome_time, u.id] }), {include_blank: 'Selecione o Time'}, {class:"form-control", id:"time", :onchange => "this.form.submit();"}  %>
              <%= f.hidden_field :rodada, :value => @rodada %>
              <%= f.hidden_field :pagina, :value => "rodada_ddprox" %>
              
        

       <div class="modal-footer">
      </div>      
      <%= link_to "Avançar", users_backoffice_pagamento_path , class:"btn btn-primary", id:"avancar" %>
       <% end %>
       <% end %>


