<h1 class="text-center"> APOSTA RODADA <%= @rodada %> </h1>

<!-- Botão para acionar modal -->
<div style="text-align: center;">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
  Participar
</button>
</div>

<!-- Tabela que lista os times -->
<div class="x_content">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="text-align: center; ">Posição</th>
          <th style="text-align: center; ">Nome do Time</th>
          <th style="text-align: center; ">Cartoleiro</th>     
          <th style="text-align: center; ">Pontos</th>      
        </tr>
      </thead>
      <tbody>
      
        <% @apostas.each do |aposta| %>
        <tr>
          
  

          <td style="text-align: center; "><%= aposta.equipe.id%></td>
          <td style="text-align: center; "><%= aposta.equipe.nome_time%></td>
          <td style="text-align: center; "><%= aposta.equipe.cartoleiro%></td>
          <td style="text-align: center; ">50</td>
        
        </td>
        </tr>       
        <% end %> 
      </tbody>
    </table>

  </div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Participar da Aposta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h4 style="color: black;">1º Passo </h4>
      <h4 class="modal-title" id="exampleModalLabel">Selecione o Time:</h4>
      <%= form_with(url: users_backoffice_apostas_path, method: "post", local:true) do |f| %>
              <%= f.select 'equipe_id', options_for_select(@equipes_final.collect{ |u| [u.nome_time, u.id] }), {}, {class:"form-control"}  %>
              <%= f.hidden_field :rodada, :value => @rodada %>
              <%= f.hidden_field :pagina, :value => "rodada_prox" %>
             
       <div class="modal-footer">
                
      </div>
      <h4 style="color: black;">2º Passo </h4>
      <h4 class="modal-title" id="exampleModalLabel"> Realize o Pagamento:</h4>
      <h1></h1>
         <script
             src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
             data-preference-id="<%= @preference_id %>">
                  
          </script>
          <%= image_tag 'logo-mercadopago.png', alt:"Responsive image", class:"card-img-top", style:"width: 15rem;float: right; " %>
       <h1><h1> 
      
      </div>
      <h style="font-size: 10px;">  *será acrescentado R$ 0,50 no valor final por causa do juros do mercado pago.</h>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
      
    </div>
    <% end %>
  </div>
</div>
