<h1 class="text-center"> LIGA RODADA <%= @rodada %> </h1>

<!-- Botão para acionar modal -->
<div style="text-align: center;">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
  Participar
</button>
</div>

<h1></h1>

<div class="d-flex flex-row-reverse bd-highlight">
  <%= form_with(url: users_backoffice_search_path, local: true, method: :get) do |time| %>
  <div class="p-3 bd-highlight">
    <div class="input-group input-group-button col-sm-12 col-xl-12">
        <%= time.text_field :term, class:"form-control", placeholder:"Pesquisar Time" %>
        <%= time.hidden_field :rodada, :value => @rodada %>
          <button type="submit" class="input-group-addon btn btn-primary" id="basic-addon10">
            <span class=""><i class="icofont icofont-ui-search"></i></span>
        </button>
    </div>
</div>
 <% end %>
</div>

  <div class="row justify-content-center" >
        <div class="col-12 col-md-12 col-sm-12 col-xs-12" >
        <% @apostas.each do |aposta| %>
       <h8 style="color:white;">.</h8> 
                
                    <div class="card py-3 py-md-3 text-white" >
                    
                        <div class="d-flex px-2 px-md-4" >
                    
                        <i class="bg-c-blue card1-icon">  <%= @contador%> </i>
                            <div class="align-self-baseline mr-2 mr-md-4 ">
                            <img src="<%= aposta.equipe.escudo %>" height="55px" width="55px" alt="" class="" style="border-color: black"> </div>
                            <div>
                               
                                <h6 clas="ml-auto"style="color:black;"><b> <%= aposta.equipe.nome_time %></b> </h6>
                                <h6 class="ml-auto" style="color:black;" class="light"> <%= aposta.equipe.cartoleiro %></h6>
                            </div>
                            <div class="align-self-center d-flex ml-auto">
                                <h6>.</h6>
                                <h4 style="color:black;" >0.00</h6>
                            </div>
                        </div>
                        
                    </div>


          
            <% @contador = @contador + 1 %>
        <% end %>
 </div>
</div>

<div class="pagination justify-content-center">
    <%= paginate @apostas %>
 </div>
<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Participar da Liga</h5>
       </div>
      <div class="modal-body">
      <% if  @equipes_final == [] %>
                    <h4 class="modal-title" id="exampleModalLabel" style="color: red; text-align: center;"> <b>Atenção</b></h4>
              <h5 class="modal-title" id="exampleModalLabel"><b> Você não consegue participar dessa liga por um dos motivos a seguir:</b></h5>
              <h5 class="modal-title" id="exampleModalLabel"> 1º Seu(s) Time(s) já está(ão) participando dessa liga;</h5>
              <h5 class="modal-title" id="exampleModalLabel"> 2º Você não tem time(s) adicionado(s) a sua conta, para adicionar vá até o menu lateral "Meus Times" ou senão clique no botão a seguir: </h5>
              <%= link_to "Adicionar TIme", users_backoffice_equipes_path, class:"btn btn-primary", type:"submit" %>

   <% else %>
   
   <h6 style="color: black;"><b>1º Passo </b> </h6>
    <h6 class="modal-title" id="exampleModalLabel">Escolha seu time:</h6>
      <%= form_with( local:true, method: "get", class:"cascata") do |f| %>
              <%= f.select 'equipe_id', options_for_select(@equipes_final.collect{ |u| [u.nome_time, u.id] }), {include_blank: 'Selecione o time...'}, {class:"custom-select mr-sm-2", id:"time"}  %>
      <% end %>
      <h6></h6>
    <h6 style="color: black;"><b>2º Passo</b> </h6>
      <h6 class="modal-title" id="exampleModalLabel"> Realize o Pagamento:</h6>
      <h1></h1>
      <div class="row">

          <div class="col-6">
            <%= link_to  "#", class:"btn btn-primary btn-round btn-outline-primary btn-block", id:"mercado-pago",  style:"width: 100%; " do %>

            <%= image_tag("mercado-pago-logo.png", alt:"Ligas do CFC", class:"img-fluid", style:"width: 50%;") %> 

            <% end %>
          </div>
          <h1></h1>
          <div class="col-6">
            <%= link_to  "#", class:"btn btn-success btn-round btn-outline-success btn-block", id:"picpay", style:"width: 100%; " do %>

            <%= image_tag("picpay-logo.png", alt:"Ligas do CFC", class:"img-fluid", style:"width: 50%;") %> 

            <% end %>



            
          </div>

          

          <h1></h1>


          <div>
          <h1></h1>
          
          <script>

         var botao_mp = document.getElementById('mercado-pago');
          botao_mp.addEventListener("click", function(){       
          document.getElementById("pagar").style.display = "";
          document.getElementById("pagar-pay").style.display = "none";
          document.getElementById('text1').innerHTML='OBS: Após realizar o pagamento via <b>Mercado Pago</b>, caso o pagamento for:';
          document.getElementById('text2').innerHTML='<b style="color: green;">Aprovado: </b> Clique em <b> Voltar para o site </b> ou espere 5 segundos ser redirecionado para o site.<br> <b style="color: #FF8000;">Pendente: </b> Clique em <b> Ok, Entendi </b> para que suas informações sejam salvas no nosso sistema.<br> <b style="color: red;">Recusado:  </b>Revise seus dados de pagamento e tente pagar novamente ou Clique em <b> Voltar para o site </b> para que suas informações sejam salvas no nosso sistema.';
         
        
        });  
            
        
        </script>

         <script>

      var botao_pp = document.getElementById('picpay');
      botao_pp.addEventListener("click", function(){       
       document.getElementById("pagar-pay").style.display = "";
       document.getElementById("pagar").style.display = "none";
        document.getElementById('text1').innerHTML='OBS: Caso esteja acessando o site pelo celular e fez o pagamento pelo APP do <b>PicPay</b>, após realizar o pagamento, volte até essa pagina e atualize ela para salvar suas informações. ';
        document.getElementById('text2').innerHTML='';
        
        });  
            
        
        </script>

         
         
          <p id=text1 class="" style="text-align: justify;"> </p>
          <p id=text2 class="" style="text-align: justify;"> </p>
           
            <div style="text-align: center;" >
              <%= link_to  "#", class:"btn btn-primary ", id:"pagar", style:"width: 100%; display:none; " do %>
                Realizar Pagamento
              <% end %>
          </div>

          <div style="text-align: center;" >
              <%= link_to  "#", class:"btn btn-success ", id:"pagar-pay", style:"width: 100%; display:none; " do %>
                Realizar Pagamento
              <% end %>
          </div>
          </div>
      </div>
      <%= javascript_include_tag 'application' %>

 <script>
         
      $(document).ready(function(){

        $(".cascata #time").change(function(){
          
           $.ajax({
              method: "POST",
              url: "rodada_ddprox",
              data: $("#time").serialize(),
              dataType: "script",
              }).done( function(response) {
                
                
              })
          
        })
      });

     </script>
       <% end %>
       
      <div class="modal-footer">      
        <button id="fechar-liga" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>      

      <script>

      var botao_pp = document.getElementById('fechar-liga');
      botao_pp.addEventListener("click", function(){       
       document.getElementById("pagar-pay").style.display = "none";
       document.getElementById("pagar").style.display = "none";
        document.getElementById('text1').innerHTML='';
        document.getElementById('text2').innerHTML='';
        document.getElementById("time").value = '';
        document.getElementById("pagar").href = "#";
        document.getElementById("pagar-pay").href = "#";
        
        });  
            
        
        </script>   
    </div> 
    </div>
</div>
