<% unless @apostador == []%>
<h1 class="text-center"> EQUIPE ENCONTRADA RODADA <%= params["rodada"] %></h1>
<div class="card-block table-border-style">
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align: center;">ID Time</th>
            <th style="text-align: center;">Time</th>
            <th style="text-align: center;">Entrou na Aposta</th>
            <th style="text-align: center;">Pontos</th>
            <th style="text-align: center;">Deletar</th>
        </tr>
    </thead>
    <tbody>
       <% @apostador.each do |aposta| %>
        <tr>
            <th scope="row" style="text-align: center;"><%= aposta.equipe.id %></th>
            <th scope="row" style="text-align: center;"><%= aposta.equipe.nome_time %></th>
            
            <td style="text-align: center;"><%= aposta.created_at %>  </td>
              <td style="text-align: center;">10  </td>      
              <td style="text-align: center;"> 
              <%= link_to admins_backoffice_resultados_path(:id => aposta.id, :rodada => params["rodada"]), class:"btn btn-danger btn-icon", style:""  do %>
                        
                        <i class="icofont icofont-ui-remove justify-content-center"></i>
        <% end %>          
              
               </td> 
              
                   
        </tr>
     <% end %>
    </tbody>
</table>

</div>
</div>
<% else %>
<h1 class="text-center" style="color: red;"><b> ATENÇÃO </b></h1>
<h2 class="text-center"> Não encontramos a equipe <b><%= @equipe %></b> nesta rodada, por favor verifique se digitou o nome correto. </h2>

<% end %>