<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ligas do CFC </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
   
    <%= favicon_link_tag(source = "favicon.ico") %>
    <!-- Google font-->
    <!-- Required Fremwork -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'users_backoffice' %>
    

</head>
<!-- Menu sidebar static layout -->

<body class="menu-static">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <!-- Menu header start -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu" style="float: left;"></i>
                        </a>
                        <a>
                            <%= image_tag("logo-site.png", alt:"Ligas do CFC", class:"img-fluid") %>  
                            
                            
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                       <span><%= current_user.email %></span>
                                    </div>
                                   
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Modal Contato-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contato</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                     <%= image_tag 'contato.png', alt:"Responsive image", class:"card-img-top", style:"width: 100%;" %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  </div>
                </div>
            </div>
            </div>
            <!-- Modal -->
            <!-- Sidebar chat start -->
            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">
                            <ul class="pcoded-item pcoded-left-item">
                                   
                                </li>
                               
                            </li>
                                <li class="">
                                    <%= link_to users_backoffice_welcome_index_path do %>
                                        <span class="pcoded-micon"><i class="icofont icofont-ui-home"></i></span>
                                        <span class="pcoded-mtext">Ínicio</span>
                                    <% end %>
                                </li>
                                <li class="">
                                    <%= link_to users_backoffice_perfil_path do %>
                                        <span class="pcoded-micon"><i class="icofont icofont-user-alt-7"></i></span>
                                        <span class="pcoded-mtext">Minha Conta</span>
                                    <% end %>
                                </li>
                                <li class="">
                                    <%= link_to users_backoffice_minhas_apostas_path do %>
                                        <span class="pcoded-micon"><i class="icofont icofont-money"></i></span>
                                        <span class="pcoded-mtext">Minhas Ligas</span>
                                    <% end %>
                                </li>
                                <li class="">
                                    <%= link_to users_backoffice_equipes_path do %>
                                        <span class="pcoded-micon"><i class="icofont icofont-football-alt"></i></span>
                                        <span class="pcoded-mtext">Meus Times</span>
                                    <% end %>
                                </li>
                                <li class="">
                                    <%= link_to users_backoffice_resultados_index_path do %>
                                        <span class="pcoded-micon"><i class="icofont icofont-result"></i></span>
                                        <span class="pcoded-mtext">Resultados</span>
                                    <% end %>
                                </li>
                                <li class="">
                                
                                    
                                    <%= link_to  "https://drive.google.com/u/0/uc?id=10ansNCzkTSwNi2QdZ7fLBO1YuYvFK0XW&export=download" do %>
                                        <span class="pcoded-micon"><i class="icofont icofont-list"></i></span>
                                        <span class="pcoded-mtext">Regulamento</span>
                                   <% end %>
                                </li>
                                <li class="">
                                    <a  href="" data-toggle="modal" data-target="#exampleModal">
                                        <span class="pcoded-micon"><i class="icofont icofont-phone-circle"></i></span>
                                        <span class="pcoded-mtext">Contato</span>
                                    </a>
                                </li>
                                <li class="">
                                   <%= link_to destroy_user_session_path, method: :delete do %>
                                        <span class="pcoded-micon"><i class="icofont icofont-exit"></i></span>
                                        <span class="pcoded-mtext">Sair</span>
                                    <% end %>
                                </li>
                           
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">


                            <!-- Main-body start -->
                            <div class="main-body">
                            <%= yield %>
                                    <!-- Page body end -->
                            
                            </div>
                            <!-- Main-body end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'users_backoffice' %>
    
     <% if flash %>  <!-- Mensagem de cadastro atualizado, criado e etc-->
  <% flash.each do |name, msg| %>
  
    <%= javascript_tag do %> 
      
       <% if name == "notice" %>
       $.bootstrapGrowl('<%= msg %>', {
        type: 'success',
        align: 'right',
        alow_dismiss: true,
        stackup_spacing: 10
       
       <% else %>
       $.bootstrapGrowl('<%= msg %>', {
        type: '<%= name%>',
        align: 'right',
        alow_dismiss: true,
        stackup_spacing: 10
       <%end%>
        });
    
    <% end %>
  <% end %>
  <% end %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

</html>
